<header class="l-row--large--landing">
  <div class="target">
    <div class="target__hit">
      <div class="greeting">
        <div class="greeting__image">
          <img src="/images/avatar.png" alt="Volodymyr Dziubak">
        </div>
        <p>If "Volodymyr" is too difficult to pronounce,</p>
        <h1 class="greeting__heading">Call me Volo</h1>
        <p>Interaction designer <span class="decorative--amp">&</span> front-end developer</p>
        <p>
          <a href="http://www.linkedin.com/pub/volodymyr-dziubak/b/59b/361" class="greeting__icon icon-linkedin" title="Check my LinkedIn account"></a>
          <a href="https://github.com/Velzevul" class="greeting__icon icon-github" title="Check my Github account"></a>
          <a href="https://twitter.com/vdziubak" class="greeting__icon icon-twitter" title="Follow me on Twitter"></a>
          <a href="mailto:volodymyr.dzyubak@gmail.com" class="greeting__icon icon-mail" title="Email me"></a>
          <a href="callto:vdzyubak91" class="greeting__icon icon-skype" title="Skype me"></a>
        </p>
      </div>
    </div>
  </div>
</header>

<section class="l-row">
    <h2>My workflow</h2>

    <div class="separator">
      <i class="separator__icon icon-feather"></i>
    </div>

    <div class="l-wrap">
      <p>Hi! My full name is Volodymyr Dziubak, I am passionate about interaction design and modern trends in front-end development. Here’s the list of things I enjoy most:</p>
      <h3>Design interaction flow</h3>
      <p>Instead of building navigation out of features list, I try to build app structure based on user roles and most common actions. This allows to minify the factor of user choice and makes interaction process intuitive.</p>
      <h3>HTML and CSS development.</h3>
      <p>As HTML/CSS purist I am constantly learning how to make code more clean, scalable, and maintainable. At the moment I use SASS and stick to a mixture of SMACSS and OOCSS paradigms, and BEM naming convention.</p>
      <h3>Javascript development.</h3>
      <p>I use JQuery and JQueryUI libraries for DOM maniopulation and basic interaction handling. I use Knockout JS library for more complex interactions, and EmberJS for full-scale client-side applications.</p>
    </div>
</section>

<section class="l-row">
  <h2>Example projects</h2>

  <div class="separator">
    <i class="separator__icon icon-screen"></i>
  </div>

  <div class="l-wrap">
    <p>Here you can find some of the projects I’ve made. All of them were made with different tools in different periods of my career and each has taught me something new about development for web.</p>
  </div>

  <div class="l-wrap--wide">
    <div class="grid">
      <div class="grid__item one--half">
        <a href="/project/teevy" class="project">
          <img src="/images/teevy-thumb.jpg" alt="Teevy application">
          <div class="target project__overlay">
            <div class="target__hit">
              <h3 class="project__title">Teevy application</h3>
              Side project, under development
            </div>
          </div>
        </a>
      </div><!--

      --><div class="grid__item one--half">
        <a href="/project/studytube-cms" class="project">
          <img src="/images/st-cms-thumb.jpg" alt="Studytube CMS">
          <div class="target project__overlay">
            <div class="target__hit">
              <h3 class="project__title">Course Management System</h3>
              Studytube, Nov 2013
            </div>
          </div>
        </a>
      </div><!--

      --><div class="grid__item one--half">
        <a href="/project/studytube-website" class="project">
          <img src="/images/st-website-thumb.jpg" alt="Studytube website">
          <div class="target project__overlay">
            <div class="target__hit">
              <h3 class="project__title">Studytube website</h3>
              Studytube, July 2013
            </div>
          </div>
        </a>
      </div><!--

      --><div class="grid__item one--half">
        <a href="/project/model-agency-website" class="project">
          <img src="/images/okmodels-thumb.jpg" alt="Ok model agency">
          <div class="target project__overlay">
            <div class="target__hit">
              <h3 class="project__title">Model agency website</h3>
              Freelance project, Jan 2013
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="l-wrap footer">
  &copy; Volodymyr Dziubak, 2014
</footer>