<a href="/" id="homelink" class="homelink icon-house"></a>

<header class="l-row--large--project--okmodels">
    <div class="l-wrap--full">
      <div class="target--left">
        <div class="target__hit--bottom">
          <h1>Model Agency Website</h1>
          <p>Online portfolio for a model agency, Jan 2013.</p>
        </div>
      </div>
    </div>
</header>

<section class="l-row">
    <div class="l-wrap">
      <div class="grid">
        <div class="grid__item one--half">
          <h3>Responsibilities</h3>
          <p>Design, <br>Full-stack development</p>
        </div><!--
        --><div class="grid__item one--half">
          <h3>Technologies used</h3>
          <p>Ruby on Rails, RSpec, <br>AWS S3, Heroku, <br>HTML, SASS, JQuery</p>
        </div>
      </div>
    </div>
</section>

<section class="l-row">
  <h2>Challenges</h2>

  <div class="separator">
    <i class="separator__icon icon-flag"></i>
  </div>

  <div class="l-wrap">
    <p>This was my last freelance project, but lot of my "first" moments are associated with it. This was the first project where I had to implement responsive web design, and also this was the first time I tried writing SASS instead of simple CSS.</p>
    <p>Apart from that, I wanted to write server part for the project in a "proper" way: I was learning TDD approach for RoR development with RSpec & Capybara. The website is hosted on Heroku and is using Amason S3 as an asset storage.</p>
  </div>
</section>

<section class="l-row">
  <h2>What did I learn</h2>

  <div class="separator">
    <i class="separator__icon icon-checkmark"></i>
  </div>

  <div class="l-wrap">
    <p>First of all, I liked wiriting SASS instead of pure CSS: things like mixins, functions, and nested styles could save a lot of time during implementation. Secondly, this was my first step into the world of responsive web-development. But the most important lesson this project has taught me was the importance and purpose of the Test Driven Development. I realised why writing test before you write you code is such a good practice: it forces you to think about the structure before you start coding and gives you a clear step-by-step roadmap when you do start writing some code. Apart from that, your test suit allows you to check whether all the existing features are still working when you add some new chunk of code. I really liked the approach.</p>
  </div>

  <div class="l-wrap is-center-aligned">
    <a href="http://okmodelagency.com/" class="button"><i class="button__icon icon-link"></i>Visit the website</a>
    <a href="https://github.com/Velzevul/okmodels" class="button"><i class="button__icon icon-github"></i>Browse the code</a>
  </div>

  <div class="l-wrap is-center-aligned">
    <p>Next project: &nbsp;<a href="/project/teevy">Teevy application</a></p>
  </div>
</section>

<footer class="l-wrap footer">
  &copy; Volodymyr Dziubak, 2014
</footer>