<a href="/" id="homelink" class="homelink icon-house"></a>

<header class="l-row--large--project--st-website">
    <div class="l-wrap--full">
      <div class="target--left">
        <div class="target__hit--bottom">
          <h1>Studytube Website</h1>
          <p>Marketing pages for Studytube company, July 2013.</p>
        </div>
      </div>
    </div>
</header>

<section class="l-row">
    <div class="l-wrap">
      <div class="grid">
        <div class="grid__item one--half">
          <h3>Responsibilities</h3>
          <p>Front-end development</p>
        </div><!--
        --><div class="grid__item one--half">
          <h3>Technologies used</h3>
          <p>HTML, SASS, SMACSS, <br>JQuery, KnockoutJS, Google Map API</p>
        </div>
      </div>
    </div>
</section>

<section class="l-row">
  <h2>Challenges</h2>

  <div class="separator">
    <i class="separator__icon icon-flag"></i>
  </div>

  <div class="l-wrap">
    <p>My main goal for this project was to improve my techniques of writing and structuring stylesheets in order to improve further mainainability of the code. The project was perfect for this purose as the development was highly iterative with constant changes to existing pages and new pages being designed every second day. The website had to support oldIE version 8 and higher, and the task was little bit complicated by tight deadlines.</p>
  </div>
</section>

<section class="l-row">
  <h2>What did I learn</h2>

  <div class="separator">
    <i class="separator__icon icon-checkmark"></i>
  </div>

  <div class="l-wrap">
    <p>The greatest lesson this project has taught me was the importance of maintainability and proper structure in my css. At that time I did not stick to some modular approach of css writing. Simple distribution of css rules across couple of files seemed copmletely OK for freelance projects since I didn't need to make a lot of changes after a project was done. The situation with the Studytube website was drastically different. Quite a few times new iterations brought changes to our design and each time it was a painful procedure to implement them.</p>
    <p>I realised that there should be a better approach, one based on modular architecture and with defined structure. After some research I discovered for myself the SMACSS approach (Scalable and Module Architecture for CSS). It took me some time to refactor all the code to fit the discovered paradigm, but the result was worth it. Despite the fact that back in the days I did not completely understand some concepts (e.g. difference between module and layout styles), the resulting code was much easier to change and support.</p>
    <p>Apart from that, I started moving into the world of client-side javascript MVW development with some simple KnockoutJS code. I really liked the concept and started learning more about bigger frameworks, namely AngularJS and EmberJS.</p>
  </div>

  <div class="l-wrap is-center-aligned">
    <a href="https://www.studytube.nl/nl/opleiders-landing" class="button"><i class="button__icon icon-link"></i>Visit the website</a>
  </div>

  <div class="l-wrap is-center-aligned">
    <p>Next project: &nbsp;<a href="/project/model-agency-website">Model Agency Website</a></p>
  </div>
</section>

<footer class="l-wrap footer">
  &copy; Volodymyr Dziubak, 2014
</footer>