/**
 * ROW LAYOUT
 * full-width wrapper,
 * handles vertical boundaries & margins
 */

[class^="l-row"] {
  margin: rem(3*$base-line-height) 0;

  &[class*="--large"] {
    margin: 0;
    height: rem(700);
  }

  &[class*="--landing"] {
    background: url('../images/landing.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &[class*="--teevy"] {
    padding-bottom: rem($base-line-height);

    color: white;
    @include background(linear-gradient(-181deg, rgba(0,0,0,0.00) 0%, #000000 100%), url('../images/teevy.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
  }
}
